*{
    margin: 0px;
}
body{
        max-width: 1600px;
        width: 100%;
        font-family: "Inter", sans-serif;
    }
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 32px;
    font-size: 16px;
}
.btn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.btn:hover{
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
    color: rgb(141, 28, 28);
}
.banner{
    width: 100%;
    background-image: linear-gradient(rgba(0, 25, 49, 0.164),rgba(0, 25, 49, 0.164)), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
}
.btn-2{
    padding: 8px 12px;
    background-color: #ffffff;
    border: none;
    border-radius: 1000px;
    color: #469165;
    cursor: pointer;
}
.btn-2:hover{
    color: brown;
    transform: scale(1.2);
    transition: 1s;
}
.btn-3{
    padding: 16px;
    background: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.btn-3:hover{
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
    color: brown;
}
#btn-pad{
    padding: 16px;
}
.banner-items{
    padding: 115px 415px 180px 415px;
    text-align: center;
}
.white{
    color: #FFFFFF;
}
.green{
    color: #30B868;
}
.banner-items h1{
    font-size: 72px;
    line-height: 84px;
}
.banner-items p{
    padding-top: 16px;
    padding-bottom: 32px;
    line-height: 24px;
    font-size: 18px;
}
.cards-container{
    display: flex;
    align-items: center;
    margin: 44px 120px 0px 120px;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
}
.card{
    box-shadow: 0px 0px 8px 0px #0000000e;
    height: 300px;
}
.img-bg{
    margin-top: 70px;
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
}
.card h3,p{
    padding: 8px 12px;
}
.note-items{
    text-align: center;
}
.note-items h1{
    margin-top: 64px;
}
.note-items p{
    color: #627382;
    padding-top: 16px;
}
.knowledge{
    display: flex;
    margin: 120px;
    gap: 60px;
    align-items: center;
}
#green-med{
    color: #30B868;
    font-weight: 500;
}
.knowledgeitem{
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.knowledgeitem p,.knowledgeitem h1,.knowledgeitem ul li{
    padding-left: 0px;
    padding-bottom: 16px;
    width: 70%;
}
.knowledgeitem h1{
    font-size: 48px;
}
.knowledgeitem ul{
    padding-top: 24px;
    padding-left: 0px;
}
.knowledgeitem p{
    line-height: 20px;
    color: #627382;
}
.challenge{
    margin: 2px 120px 120px 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;
}
.challenge-items h1, .challenge-items p, .challenge-items ul{
    margin: 0px auto;
    text-align: center;
}
.challenge-items ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.challenge-items h1{
    font-size: 40px;
}
.challenge-items p, .challenge-items ul li{
    font-size: 16px;
    color: #627382;
}
footer{
    background-color: #001931;
}
.social span i{
    background-color: #ffffff;
    padding: 4.12px;
    border: 1px solid white;
    border-radius: 100%;
}
.social-container{
    padding: 120px 120px 30px 120px;
    display: flex;
    justify-content: space-between;
}
.social h3{
    color: #ffffff;
    padding-bottom: 16px;
}
.copyright{
    padding: 80px 120px 0px 120px;
}
.copyright p{
    color: #FAFAFA;
    text-align: center;
    padding: 30px 0px;
}