*{
    margin: 0px;
}
body{
        max-width: 1600px;
        width: 100%;
        font-family: "Inter", sans-serif;
    }
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 32px;
    font-size: 16px;
}
.btn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    transform: scale(0.9);
    transition: 0.7s;
}