*{
    margin: 0px;
}
body{
        max-width: 1600px;
        width: 100%;
        font-family: "Inter", sans-serif;
    }
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 32px;
    font-size: 16px;
}
.btn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.btn:hover{
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
}
.banner{
    width: 100%;
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
}
.btn-2{
    padding: 8px 12px;
    background-color: #ffffff;
    border: none;
    border-radius: 1000px;
    color: #469165;
    cursor: pointer;
}
.btn-2:hover{
    color: brown
    ;
    transition: 0.7s;
}
.btn-3{
    padding: 16px;
    background: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.btn-3:hover{
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
}
#btn-pad{
    padding: 16px;
}
.banner-items{
    padding: 115px 415px 180px 415px;
    text-align: center;
}
.white{
    color: #FFFFFF;
}
.green{
    color: #30B868;
}
.banner-items h1{
    font-size: 72px;
    line-height: 84px;
}
.banner-items p{
    padding-top: 16px;
    padding-bottom: 32px;
    line-height: 24px;
    font-size: 18px;
}